fastapi
uvicorn[standard]

sqlalchemy
pymysql
alembic

pydantic
pydantic-settings

python-dotenv

python-multipart

passlib[bcrypt]
python-jose[cryptography]

celery
redis

boto3

httpx

pytest
pytest-asyncio

ruff